# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
*.db
*.sqlite

# Node
node_modules/
dist/
dist-ssr/

# Environments
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
